{% extends "classifier/base.html" %}
{% block content %}

<h1>Open Text Classification (OpenTC)</h1>
{# Load the tag library #}
{% load bootstrap3 %}
<p>
    This is a demo website to show the capability of <a href="https://github.com/cahya-wirawan/opentc">OpenTC</a>.
    The OpenTC server is running in the background listening to the port 3333. The website is running Django, and forward
    the prediction request from the web client to the OpenTC server, and forward back again the result from the server
    to the web client as json response.
</p>
<p>
    Currently it supports Bayes, Support Vector Machine (SVM), and Convolutional Neural Network (CNN) as classifier
    and they were trained with 4 newsgroups (alt.atheis, com.graphics, sci.med, soc.religion.christian) from
    the <a href="http://qwone.com/~jason/20Newsgroups/">20newsgroup</a> dataset.
</p>

<form id="message-form" action="{% url 'classifier:predict' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div id="results"></div>
    <input type="submit" value="submit" />
</form>
<p>
<div id="prediction-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Prediction result</h3>
        </div>
        <div class="panel-body">
            <div id="prediction-result" class="">
            </div>
        </div>
    </div>
</div>
<script src="/static/scripts/main.js"></script>
{% endblock %}