{% extends "classifier/base.html" %}
{% block content %}
<h1>Text Classification</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <ul>
    {% for name, analysis in result.items %}
        <li><label name="{{ name }}">{{ name }}</label></li>
        <ul>
        {% for classifier, categories in analysis.items %}
            <li><label name="{{ classifier }}">{{ classifier }}: {{ categories }}</label></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>

{% endblock %}